*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(0, 0, 0);
}
.cabecera {
    background-color: rgb(98, 0, 255);
    color: rgb(9, 235, 156);
    padding: 10px 0;
    margin-bottom: 20px;
}
.contenedor-cabecera{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 80px;
}
.logo img{
    height: 40%;
    display: block;
}
